.deps/
Makefile
Makefile.in
aclocal.m4
am
*.tap
*.o

ipopt.out

autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.sub
configure
depcomp
dependencies.m4
doc/Makefile
doc/Makefile.in
doc/doxygen/Doxyfile
doc/doxygen/Doxyfile.in
dune-gfe.pc
install-sh
libtool
ltmain.sh
missing

cosserat-continuum
harmonicmaps
harmonicmaps-eoc
rod3d
rodobstacle
rod-eoc

stamp-h1
test/.deps/
test/adolctest

