
/dune-gfe.pc
/build-cmake

# /doc/doxygen/
/doc/doxygen/html
/doc/doxygen/semantic.cache
/doc/doxygen/Doxyfile.in
/doc/doxygen/Doxyfile
/doc/doxygen/doxygen-tag
/doc/doxygen/doxygen.log
/doc/doxygen/doxyerr.log

# /locking_testsuite/
/locking_testsuite/*.log
/locking_testsuite/ipopt.out

/src/*.pyc

/src/# executable files
/src/cosserat-continuum
/src/harmonicmaps
/src/rod3d

# /test/
/test/.deps
/test/cosseratenergytest
/test/frameinvariancetest
/test/globalgfetestfunctionbasistest
/test/localgeodesicfefunctiontest
/test/localgeodesicfestiffnesstest
/test/localgfetestfunctiontest
/test/harmonicenergytest
/test/averagedistanceassemblertest
/test/nestednesstest
/test/orthogonalmatrixtest
/test/rodassemblertest
/test/rotationtest
/test/targetspacetest
